<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Peer Evaluation Tool</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="centerjumbotron">
        <h1>Duck Debuggers Peer Evaluation Tool</h1>



  <h2><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary"%>
    <%= link_to "DEBUG:Projects", projects_path, class: "btn btn-lg btn-primary"%></h2>

</div>

  </body>
</html>