<h1>Dashboard</h1>
<p style="color: green"><%= notice %></p>

<h1>Groups</h1>


<div id="groups">
  <% @Groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to group, group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>