<% provide(:title, "Edit user") %>
<% if @user = current_user%>
<div class="centerjumbotron">
<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<h2>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</h2>
</div>
<% else %>
  <h1>You don't have permission to access this page!</h1>
<%end%>