<h1>Dashboard</h1>
<p style="color: green"><%= notice %></p>

<h1>Users</h1>


<div id="users">
  <% @Users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to user.name, user %>
    </p>
  <% end %>
</div>
<h2><%= link_to "Back to dashboard", dashboardA_path%></h2>