body {
    color: black;
    background: lightgrey;

}

h1 {
    font-family: 'Diagon', sans-serif;
    font-weight:bold;
    color: red;
}
.centerjumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.row{
    color:white;
    position: relative;
    display: inline-block;
    background: darkgrey;
}

input[type="submit"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: -10px;
    padding: 10px 18px;
    border-radius: 8px;
    background: red;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }